@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --header-color: hsl(207, 40%, 52%);
    --main-color: hsl(207, 40%, 47%);
    --button-color: hsl(203, 72%, 82%);
    --button-color-hover: hsl(203, 73%, 77%);
    --content-color: hsl(190, 20%, 94%);
    --icon-size: 28px;
    --icon-color: brightness(0) saturate(100%) invert(96%) sepia(14%) saturate(50%) hue-rotate(141deg) brightness(100%) contrast(93%);
    --icon-color-hover: brightness(0) saturate(100%) invert(93%) sepia(6%) saturate(239%) hue-rotate(142deg) brightness(99%) contrast(93%);
    --icon-background-color: hsl(203, 73%, 82%);
    --icon-background-color-hover: hsl(203, 73%, 72%);
    
}

body 
{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

.grid-container
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 15vw auto auto auto;
    grid-template-rows: 10vh auto;
    grid-template-areas: 
        'header header header header'
        'side-navigation content content content';
}

/* Handling header information */
.header {
    grid-area: "header";
    grid-column-start: 1;
    grid-column-end: 5;

    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: var(--header-color);
    color: white;
    display: flex;
}

.header-right,
.header-left 
{
    width: 50%;
    display: flex;
    align-items: center;
}

.header-right 
{
    justify-content: right;
}

.header-left 
{
    justify-content: left;
}

.header p 
{
    margin: 10px;
}

#scoresurge 
{
    font-size: 24px;
}

#settings-button,
#menu-button 
{
    background: none;
    border: none;
    padding: 20px;
}

#settings-button:hover,
#menu-button:hover
{
    clip-path: circle(28px);
    background-color: hsl(207, 40%, 47%);
}

/* Changing the menu default-icon from black to white */
#settings-icon,
#menu-icon 
{
    filter: var(--icon-color);
    width: var(--icon-size);
    height: var(--icon-size);
}

/* -=-=-=-=-=-=-=- */

/* Side nav section */
.side-navigation 
{
    grid-area: "side-navigation";
    background-color: var(--main-color);

    display: flex;
    flex-direction: column;
}

/* The items in the navbar */
.dropdown,
.side-navigation a 
{
    flex: 0 0 5%; 
    text-align: center;
    line-height: 8vh; 

    font-size: 18px;
    font-weight: 600;
    
    background-color: var(--button-color); 
    color: white; 
    
    padding: 0; 
    margin: 0; 
    
    cursor: pointer;

    text-decoration: none; 
}

.dropdown:hover, 
.side-navigation a:hover
{
    background-color: var(--button-color-hover); 
}

/* Dropdown plus default-icon css: */
.dropdown-toggle #add-button 
{
    clip-path: circle(16px);
    width: 32px;
    height: 32px;
    cursor: pointer;
    
    /* Weird button jank */
    border: none;
    margin: 0;
    padding: 0;

    background-color: var(--icon-background-color);
}


:is(.dropdown:hover) .dropdown-toggle #add-button
{
    background-color: var(--button-color-hover); 
}

.dropdown-toggle #add-button img
{
    filter: var(--icon-color);
}

:is(.dropdown:hover) :is(#add-button:hover)
{
    background-color: var(--icon-background-color-hover);
}

/* don't touch, it works */
.dropdown-content {
    display: flex;
    flex-direction: column;
    
    background-color: #f1f1f1;

    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease; 
}

.dropdown-content a {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    border: none;
    background-color: var(--icon-background-color-hover);
}

.dropdown-content p 
{
    font-size: 20px;
}

.dropdown-content a:hover 
{
    background-color: hsl(203, 73%, 67%);
}

#class-icon
{
    padding: 20px;
    filter: var(--icon-color);
}

.dropdown-toggle {
    display: flex;

    align-items: center;
    justify-content: space-between; 

    /* These !importants feel weird now */
    padding: 0 20px;
    /* padding-left: 40px !important;
    padding-right: 20px !important; */
    
    border: none !important;
}

/* Dropdown Arrow css: */
.dropdown-toggle #toggle-icon 
{
    --icon-size: 25px;
    width: var(--icon-size);
    height: var(--icon-size);

    filter: var(--icon-color);

    transition: transform 0.3s ease;
}

.dropdown.active .dropdown-toggle,
.dropdown.active .dropdown-toggle #add-button
{
    background-color: var(--button-color-hover);
}

:is(.dropdown.active:hover) .dropdown-toggle #add-button:hover
{
    background-color: var(--icon-background-color-hover);
}

.dropdown.active .dropdown-toggle #toggle-icon 
{
    transform: rotate(90deg); 
}

/* The "Classes" or "Notes" text heading: */
#dropdown-toggle-header 
{
    margin-left: 15px !important;
    text-align: left;
    flex-grow: 1;
}

.dropdown-toggle #add-class-icon
{
    --icon-size: 20px;
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0;
    padding: 0;
}

.dropdown-toggle form, p {
    margin: 0;
}

/* Expand dropdown with transition */
.dropdown.active .dropdown-content {
    max-height: 300px; /* Adjust to fit content size */
    display: flex;
}


#class-default-icon {
    padding-right: 5px;

    --icon-size: 15px;

    width: var(--icon-size);
    height: var(--icon-size);
}

/* MODAL CODE */
.modal {
    /* Becuase of its size, it has to be block */
    display: none;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    /* making sure it's on top of all */
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;

    /* this gives it the "focus" look */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
  
/* Modal Content/Box */
.modal-content {
    background-color: var(--content-color);;
    margin: 15%; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close-button 
{
    float: right;
}

.close-button:hover
{
    text-decoration: none;
    cursor: pointer;
}

/*  CONTENT STUFF */

.content 
{
    background-color: var(--content-color);
    grid-area: "content";
    padding: 25px;
}