table, tr, th, td, caption {
    border: 1px solid;
}

table {
    width: 50%;
    font-weight: 500;
}

#class-information-header {
    font-weight: 500;
    font-size: 18px;
}

.edit-grades-button {
    margin-top: 5px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.edit-grades-button:hover {
    background-color: rgb(218, 218, 218);
    border: 1px solid black;
    border-radius: 5px;
}