:root
{
    --light-grey: rgb(221, 221, 221);
    --button-padding: 5px 10px;
    --default-font-size: 16px;
}

.notes-textbox 
{
    padding: 10px;
}

/* TOOLBAR SECTION */
.toolbar 
{
    display: flex;

    border: 1px solid var(--light-grey);
    font-size: var(--default-font-size);
    /* color: black; Ensure text color is black for regular text */
}

.save-button 
{
    border-right: 1px solid grey;
    padding: 10px;
}

#save-icon 
{
    padding: 0;
    width: 16px;
    height: 16px;
}

.tools 
{
    padding: 10px;
}

.toolbar button {
    padding: var(--button-padding);

    font-size: var(--default-font-size);
    border: none;
    background-color: white;

    cursor: pointer;
    margin-right: 5px;
    border-radius: 7px;
}

.save-button button{
    margin: 0 !important;
}

.toolbar button:hover {
    background-color: var(--light-grey);
}

/* When the bold/ */
.toolbar button.active 
{
    background-color: var(--light-grey);
    padding: var(--button-padding);

    font-size: var(--default-font-size);
    cursor: pointer;
    margin-right: 5px;
    
    border: 1px solid grey;
}

.font-selection 
{
    /* Matching the button stuff */
    padding: var(--button-padding);
    font-size: var(--default-font-size);
}

/* TEXTBOX SECTION */
.textbox-container 
{
    width: 100%;
    /* This is required for resize */
    position: relative;
}


/* The text editing box */
#editor 
{
    min-height: 150px;
    border: 1px solid var(--light-grey);
    padding: 10px;
    font-size: var(--default-font-size);
    line-height: 1.5;
    color: black; 

    /* Allows the editor to be change horz. and vert. */
    resize: both;
    box-sizing: border-box;
    overflow: auto;
}
